.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
}
  .modalContent h2 {
    color: #333; /* or any color you prefer */
  }

  .modalBody {
    margin-bottom: 20px;
    color: #444; /* or any color you prefer */
  }

  .modalActions {
    display: flex;
    justify-content: flex-end;
    color: #555; /* or any color you prefer */
  }
.cancelButton,
.confirmButton {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background-color: #f0f0f0;
  color: #333;
}

.confirmButton {
  background-color: #007bff;
  color: white;
}
